<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is user dashboard
    <p>Welcome, <%= user.user_name.f_name %>!</p>
    <p>This is your user dashboard.</p>
    <p><a href="/api/auth/logout">Logout</a></p>
</body>
</html>